.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.calories {
  border: #282c34 solid 1px;
  padding: 10px;
  font-size: large;
}
.bmi-left {
  height: 480px;
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  /* background-image: linear-gradient(
    160deg,
    #336a29 10%,
    #498428 20%,
    #80b155,
    #c1d95c
  ); */

  background-image: url(./Assets/background_bmincal.jpg);
  background-size: cover;


  /* #EAEF9D #C1D95C #80B155 #498428 #336A29 */
}
.table-dailycalo{
  background-color: transparent;
  border: 1px solid black;
}
.table-dailycalo td {
  background-color: transparent;
  border: 1px solid black;
}
.activities {
  background-color: #e1e9d2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 230px;
  height: 135px;
  border-radius: 30px;
  border: solid 1px #a7d453;
  padding: 25px;
}

.dailyCalo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.dailyCalo_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.my-transition {
  transition: height 300ms cubic-bezier(0.65, 0, 0.35, 1);
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

#changeText {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
}

@media only screen and (max-width:500px) {
  .bottom-left {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 50%;
  }
  
  .bottom-left p {
    font-family: "Loutters", sans-serif;
    font-size: 12px;
   
  }
}



.home-banner {
  /* background-image: url("https://upcdn.io/12a1yXH/raw/heart-healthy-foods-list-5diY.jpg"); */
  
  background-image: url("../src/Assets/Banner_HomePage.png");
  height: 700px;

  font-family: "Poppins", sans-serif;
}

.section2-banner{
  background-image: url("../src/Assets/healthy\ fruits\ and\ vegetables\ green.jpg");
  height: 500px;
  background-size: cover;

  position: relative;
  background-position: top;
  font-family: "Poppins", sans-serif;
 
}
.fw-light {
  font-weight: 300px !important;
}
.text-home {
    padding-left: 12%;
    padding-top: 5%;
}

.navbar {
 
  background-color: #a1c547;
  position: sticky;
  top: 0;
}

.navbar :hover{
  color: white;
  text-decoration: none;
  animation-delay: 1000ms;
}
.navbarBrand {
  color: #336a29;
  padding-left: 30;
  font-size: 18px;
  opacity: 120%;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}



.side-bar{
  text-align: left;
  background-color: #f5f5f5;
}
@import url("https://fonts.cdnfonts.com/css/loutters");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.items{
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 0;
  font-family: 'Open Sans', sans-serif;
}
.items li{
  
  
  padding-bottom: 10px;
 
  
}

.items li:hover{
  font-weight: 300px;
color: #336a29;
  cursor: pointer;
}

.sixItems {
  position: absolute;
  margin: 0;

  top: 77%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 42px;
  font-family: "Loutters", sans-serif;

  white-space: nowrap;
}

.sixItems2 {
  position: absolute;
  padding-left: 34%;
  top: 67%;
  font-size: 42px;
  font-family: "Loutters", sans-serif;
}

#section1 {

  padding-right: 10%;
  font-weight: 400;
}

#section1 p {
  font-family: var(
    --font-face,
    "Haas Grot Text R Web",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif
  );

  padding-top: 20px;
}

#section1 button {
  background-color: #abc937;
  font-family: var(
    --font-face,
    "Haas Grot Text R Web",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif
  );
  color: white;
  border: none;
  height: 40px;
  border-radius: 20px;
}

#section2 {
  position: absolute;
  margin: 0;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bottom-left {
  position: absolute;
  top: 30%;
  left: 10%;
}

.bottom-left p {
  font-family: "Loutters", sans-serif;
  font-size: 42px;
}

.font {
  font-family: "Loutters", sans-serif;
  font-size: 42px;
}
.bottom-left button {
  background-color: #abc937;
  font-family: var(
    --font-face,
    "Haas Grot Text R Web",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif
  );
  color: white;
  border: none;
  height: 40px;
  border-radius: 20px;
}

.blog-post-info {
  flex-wrap: wrap;

  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-left: 0;
  padding-left: 20px;

  width: 45%;
}

.flex-latest-blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.site-footer {
  background-color: #336a29;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #eaef9d;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #eaef9d;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #eaef9d;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #eaef9d;
  text-decoration: none;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: wheat;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productList {
  text-align: center;
  font-size: medium;
  font-weight: lighter;
  cursor: pointer;
}

.productList p:hover {
  color: #a1ba36;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;

  --webkit-transition: all 0.3s ease;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.cartButton {
  background-color: #336a29;
  color: white;
  border-radius: 30px;
  width: 40px;
}

.main-container {
  width: 100%;
  max-width: 350px;
  margin: 40px auto;
}
.select-item {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 10px auto;
  position: relative;
}
.select-item > label {
  display: block;
  font-size: 18px;
}
.select-item > select {
  margin-top: 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 36px;
  height: 36px;
  border-radius: 3px;
  outline: none;
  background: none;
  box-shadow: none;
  border: 1px solid rgb(175, 175, 175);
}
.select-item > span {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 22px;
  top: 38px;
  z-index: 5;
}
.select-item > span > img {
  width: 100%;
  height: 100%;
}

.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

.font-family{
  font-family: "Poppins", sans-serif;
}


:root{
  /* color type A */
  --line_color : #555555 ;
  --back_color : #FFECF6  ;

  /* color type B */
  /* --line_color : #1b1919 ;
  --back_color : #E9ECFF  ; */

  /* color type C */
  /* --line_color : #00135C ;
  --back_color : #DEFFFA  ; */
}






main {
  position: relative;
  height: 100vh;
}
main .helper {
  background: rgba(0, 0, 0, 0.2);
  color: #ffea92;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1.2em 2em;
  text-align: center;
  border-radius: 20px;
  font-size: 2em;
  font-weight: bold;
}
main .helper span {
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.4em;
  display: block;
}
.menu {
  background: #b2b8b1;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}
.menu .avatar {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  text-align: center;
}
.menu .avatar img {
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ffea92;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .avatar h5 {
  font-weight: normal;
  margin-bottom: 0;
  overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  
}
.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.menu ul li {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
.menu ul li.icon-dashboard {
  background-image: url("http://www.entypo.com/images//gauge.svg");
}
.menu ul li.icon-customers {
  background-image: url("http://www.entypo.com/images//briefcase.svg");
}
.menu ul li.icon-users {
  background-image: url("http://www.entypo.com/images//users.svg");
}
.menu ul li.icon-settings {
  background-image: url("http://www.entypo.com/images//tools.svg");
}
.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
  outline: none;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
  }
  .menu {
    width: 90px;
  }
  .menu .avatar {
    padding: 0.5em;
    position: relative;
  }
  .menu .avatar img {
    width: 60px;
  }
  .menu .avatar h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu .avatar:hover h3 {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);

  }
  .menu ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }
  .menu ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu ul li span:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}
@media screen and (max-width: 400px) {
  body {
    padding-left: 0;
  }
  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .menu .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #5bc995;
  }
  .menu .smartphone-menu-trigger:before,
  .menu .smartphone-menu-trigger:after {
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu ul li {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }
  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
  .menu:focus .smartphone-menu-trigger {
    pointer-events: none;
  }
}

.bg-dash{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}


